<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/design.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,100;1,700&display=swap" rel="stylesheet">    
    <title>Document</title>
</head>
<body>
    <div class="back" style="background: url(/templates/intro.jpg) center no-repeat;">
            <div class="container">
                <h1>ASCII-ART-WEB</h1>
            </div>
            <div class="container__2">
                <div class="error_out"><pre>{{.}}</pre>
                    <div class="intro__back">
                        <button class="btn__2"><a href="/">BACK</a></button>
                    </div>
            </div>
    </div>
</body>
</html>